<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632471893923-5702qgb3k799f9h04q2h1q1bi6eh330l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632471893923-5702qgb3k799f9h04q2h1q1bi6eh330l</string>
	<key>API_KEY</key>
	<string>AIzaSyCz143Qyv6do421WUILmSAqI8HN6sMlxZc</string>
	<key>GCM_SENDER_ID</key>
	<string>632471893923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.jsa.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-e1fc4</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-e1fc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632471893923:ios:2ef3fd4f1a17e4dd998c16</string>
</dict>
</plist>